{% extends "articles/base_articles.html" %}
{% load article_tags %}

{% block articles_content %}
<h1>{{ article.title }}</h1>
<p>{{ article.publish_date|date:'d.m.Y H:i' }} - 
    {% for tag in article.tags.all %}
        {% if not forloop.first %} | {% endif %}<a href="{% url 'articles:tag' tag_id=tag.id %}">{{ tag.name }}</a>
    {% endfor %}
</p>
{% autoescape off %}
<div>{{ article.post }}</div>
{% endautoescape %}

<h2>Comments</h2>
{% for comment in comments %}
<h4>{{ comment.name }}</h4>
<div>{{ comment.comment_text }}</div>
{% endfor %}

{% endblock articles_content %}
